{% extends 'base.html.twig' %}
{% block body %}
  <div id="home-page">
<!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-info navbar-dark">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Navbar brand -->
        <div class="logohome">
            <img src="{{ asset('images/logoart.png') }}" alt="Logo du site" width="500" height="200">
        </div>
        <!-- Navigation Links -->
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Accueil</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownArtist" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Artiste Peintre
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownArtist">
                    <li><a class="dropdown-item" href="#">Blog</a></li>
                    <li><a class="dropdown-item" href="#">Galerie</a></li>
                    <li><a class="dropdown-item" href="#">Événement</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownDesigner" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Designer Bijouterie
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownDesigner">
                   <a class="dropdown-item" href="{{ path('app_blog') }}">Blog</a>
                    <li><a class="dropdown-item" href="#">Galerie</a></li>
                       <li class="dropdown-divider"></li> <!-- Ligne de séparation -->
                     <li><a class="dropdown-item" href="#">Liste d'Artistes</a></li>
                    <li><a class="dropdown-item" href="#">Événement</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownPhotographe" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Photographe Art
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownPhotographe">
                    <li><a class="dropdown-item" href="#">Blog</a></li>
                    <li><a class="dropdown-item" href="#">Galerie</a></li>
                    <li><a class="dropdown-item" href="#">Événement</a></li>
                </ul>
            </li>
        </ul>
        <!-- Icons -->
        <ul class="navbar-nav d-flex flex-row me-1">
        <!-- Ajoutez cet élément de liste pour "S'inscrire" -->
            <li class="nav-item">
            <a class="nav-link text-dark" href="{{ path('app_register') }}">S'inscrire</a>
            </li>
            
        </ul>
        <ul class="navbar-nav d-flex flex-row me-1">
            <li class="nav-item me-3 me-lg-0">
                <a class="nav-link text-white" href="#"><i class="fas fa-envelope mx-1"></i> Contact</a>
            </li>
            <li class="nav-item me-3 me-lg-0">
                <a class="nav-link text-white" href="#"><i class="fas fa-cog mx-1"></i> Settings</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownProfile" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user mx-1"></i> Profile
                </a>
                <!-- Dropdown menu -->
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownProfile">
                    <li>
                       <a class="dropdown-item" href="{{ path('app_login') }}">Mon compte</a>

                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Log out</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- Container wrapper -->
</nav>
<!-- slidder-->
    <div class="slider">
      <div class="slide">
        <img src="{{ asset('../../../images/slide1.png') }}"/>
        <p>01</p>
      </div>
      <div class="slide2">
        <img src="{{ asset('../../../images/slidereseau.png') }}"/>
        <p>02</p>
      </div>
      <div class="slide">
      <img src="{{ asset('../../../images/slide3.png') }}"/>
        <p>03</p>
      </div>
      <div class="slide2">
       <img src="{{ asset('../../../images/slide4.png') }}"/>
      </div>
      <div class="slide">
       <img src="{{ asset('../../../images/slide4.png') }}"/>
        <p>05</p>
      </div>
      <div class="slide2">
       <img src="{{ asset('../../../images/slide5.png') }}"/>
        <p>06</p>
      </div>
    </div>
    <!-- Right -->
    <div>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3 text-secondary"></i>Illustretonart
          </h6>
          <p>
           "Explorez votre art, enrichissez votre talent. 🎨
          Notre site est entièrement gratuit pour soutenir la communauté artistique. Nous sommes là pour répondre à vos questions et vous offrir notre service dévoué.
          Votre créativité est notre passion. ✨
           Rejoignez-nous pour grandir ensemble."

</p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="#!" class="text-reset">Angular</a>
          </p>
          <p>
            <a href="#!" class="text-reset">React</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Vue</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Laravel</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3 text-secondary"></i> Paris France</p>
          <p>
            <i class="fas fa-envelope me-3 text-secondary"></i>
            fatoumabousbih@yahoo.fr
          </p>
          <p><i class="fas fa-phone me-3 text-secondary"></i> 0625766296</p>
          
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

 
</footer>
<!-- Footer -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="{{ asset('node_modules/slick-carousel/slick1.8.1/slick.min.js') }}"></script>






<script>
 $(document).ready(function() {
            $('.slider').slick({
                infinite: true,
                dots: true,
                arrows: false,
                autoplay: true,
                autoplaySpeed: 3000,
                fade: true,
                fadeSpeed: 1000,
            });
        });
</script>
</div>
    
  {% endblock %}
        
        
        





